/**
 * Standard screenplay layout
 */

.screenplay {
  font-family: "Courier New", Courier, monospace;
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem 1rem;
  line-height: 1.5;
}

.screenplay-title {
  text-align: center;
  margin-bottom: 3rem;
}

/* Scene headings */
.scene {
  margin: 2rem 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Action */
.action {
  margin: 1rem 0;
}

/* Character names */
.character {
  margin-left: 40%;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

/* Parentheticals */
.parenthetical {
  margin-left: 35%;
  font-style: italic;
}

/* Dialogue */
.dialogue {
  margin-left: 30%;
  max-width: 40%;
}

/* Transitions */
.transition {
  text-align: right;
  margin: 2rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

/* Act breaks */
.act-break {
  text-align: center;
  margin: 3rem 0;
  font-weight: bold;
  text-transform: uppercase;
}
